@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&family=Poppins:wght@400;600&display=swap');

*{
    text-align: center;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    background: linear-gradient(90deg, rgb(81, 134, 239), rgb(218, 41, 41));
    height: 100vh;
    overflow-x: hidden;
    font-family: 'Poppins', sans-serif;
    user-select: text;
    -webkit-user-select: none;
}

header{
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    height: 11vh;
    width: 100%;
    color: aliceblue;
}

.Header_Content{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.Titulo{
    color: rgb(255, 255, 255);
    font-size: 2.5vw;
    letter-spacing: 0.2vw;
    outline: none;
    user-select: text;
    -webkit-user-select: none;
    top: 50%;
    bottom: 50%;
}

/*   Botões de Opções   */

#Options{
    display: flex;
    flex-direction: row;
    align-items:center;
    justify-content:center;
    height: 34%;
}

label{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    align-items: center;
    width: 25%;
    height: 100%;
    margin: 0px 2%;
}

label input{
    position: relative;
    display: flex;
    appearance: none;
    -webkit-appearance: none;
}

label span{
    position: relative;
    width: 20%;
    height: 100%;
}

label input ~ span:before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    border-radius: 2vh;
    background:rgba(255, 5, 55, 0.5);
    transition: .5s;
}

label input:hover ~ span:before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    background:rgba(255, 5, 55, 0.9);
    transition: .3s;
}

label input:checked ~ span:before{
    content: '';
    background: #00ccff;
    transition: .5s;
}

label span::after{
    content: '';
    position: absolute;
    left: 5%;
    top: 12%;
    aspect-ratio: 1/1;
    height: 76%;
    background: #fff;
    border-radius: 50%;
    transition: .5s;
}

label input:checked ~ span::after{
    left: 67%;
    transition: .5s;
}

label h1{
    font-family: 'Nunito', sans-serif;
    font-size: 1.1vw;
}

.Line{
    content: '';
    display: flex;
    height: 0.5px;
    width: 80%;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.5);
    margin: 1% auto;
}

/*   Quadro de Semestralização   */

#Quadro{
    color: rgb(255, 249, 242);
    height: 85%;
    width: 95%;
    margin: 0px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/*   Linha de Semestres   */

#Splits{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    width: 98%;
}

.Split{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.1);
    border: 0.3vh solid rgba(255, 255, 255, 0.4);
    border-radius: 2vh;
    height: 3vh;
    width: 10%;
    font-size: 1vw;
}

/*   Disciplinas por Semestre   */

#Semestres{
    display: flex;
    margin-top: 1vh;
    justify-content:space-between;
    width: 100%;
    height: 90%;
}

.Semestre{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:space-around;
    width: 12%;
}

.Disciplina{
    position: relative;
    background-color: rgba(0, 0, 0, 0.1);
    border: 0.3vh solid rgba(255, 255, 255, 0.4);
    border-radius: 2vh;
    height: 17%;
    width: 80%;
    display: flex;
    padding: 0px 1%;
    flex-direction: column;
    justify-content:space-around;
    font-size: 0.57vw;
    transition: .5s;
    overflow: hidden;
}

.Disciplina::before{
    content: '';
    position:absolute;
    top: 0;
    left: 50%;
    width: 0.6vw;
    height: 100%;
    transform: skewX(45deg) translateX(7vw);
    transition: .5s;
}

.Disciplina:hover{
    height: 20%;
    width: 100%;
    font-size: 63%;
    background-color: rgba(255,255, 255, 0.1);
}

.Disciplina:hover::before{
    background-color: rgba(255, 255, 255, 0.5);
    transform: skewX(45deg) translateX(-10vw);
}

.Disciplina:hover .Semestre{
    justify-content:space-evenly;
}

.Disciplina h1{
    font-size: 1.2em;
    padding: 0 1%;
}

.CH{
    display: none;
    font-family: 'Nunito', sans-serif;
}

.Requisita{
    border: 0.35vh solid rgba(255, 255, 255, 0.6);
}

/*   Cores por Tipo de Disciplina   */

@keyframes Load {
    0%{transform: translateX(-150%);}
    100%{transform: translateX(150%);}
}

.Espace{
    position: relative;
    display: none;
    height: 5%;
    width: 80%;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 50px;
    margin: 2% auto 0px auto;
    overflow: hidden;
}

.Matematica{
    content: '';
    position: absolute;
    width: 50%;
    height: 100%;
    background: #00ccff;
    animation: Load 3s linear infinite;
}

.Humanas{
    content: '';
    position: absolute;
    width: 50%;
    height: 100%;
    background: #ffc800;
    animation: Load 3s linear infinite;
}

.Sistemas{
    content: '';
    position: absolute;
    width: 50%;
    height: 100%;
    background: #ff00ea;
    animation: Load 3s linear infinite;
}

.Programacao{
    content: '';
    position: absolute;
    width: 50%;
    height: 100%;
    background: #ff0037;
    animation: Load 3s linear infinite;
}

/*   Legenda   */

#Legenda{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    height: 5%;
    margin: 2% 0;
    font-size: 0.8vw;
    border: 0.3vh solid rgba(255, 255, 255, 0.5);
    border-radius: 10px;
    backdrop-filter: blur(200px);
}

.Card{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content:center;
    align-items: center;
    width: 16%;
    height: 100%;
    border-radius: 8px;
}

.Card p{
    display: flex;
}

.Dot{
    position: relative;
    display: flex;
    height: 70%;
    aspect-ratio: 1/1;
    border-radius: 50%;
    margin-right: 2%;
}

.Hum{
    background: #ffc800;
}

.Mat{
    background:#00ccff;
}

.Prog{
    background:#ff0037;
}

.Sys{
    background:#ff00ea;
}

.Req{
    border-radius: 0.3vh;
    border: 0.3vh solid rgba(255, 255, 255, 1);
}

/*   Componentes Curriculares Não Disciplinares   */

#Componentes{
    height: 65%;
    background: linear-gradient(#ff003731, #ff0037);
    padding-top: 5vh;
}

#Disciplinares{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
    align-items:center;
    height: 70%;
}

.CCD h1{
    font-size: 1.2vw;
}

.CCD p{
    font-size: 1vw;
}

.CCD{
    position: relative;
    color: #fff;
    border-radius: 2vh;
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    align-items:center;
    height: 95%;
    width: 16%;
    padding: 1%;
    background-color:rgb(0, 0, 0, 0.2);
    border: 0.3vh solid rgba(255, 255, 255, 0.4);
    transition: 0.5s;
    overflow: hidden;
}

.CCD:hover{
    height: 100%;
    width: 16%;
    padding: 0 1%;
    background-color:rgb(255, 255, 255, 0.1);
}

.CCD::before{
    content: '';
    position:absolute;
    top: 0;
    left: 95%;
    width: 1vw;
    height: 100%;
    transform: skewX(-45deg) translateX(10vw);
    transition: 0.5s;
}

.CCD:hover::before{
    background-color: rgba(255, 255, 255, 0.5);
    transform: skewX(-45deg) translateX(-30vw);
}

.BT_CCD{
    display: none;
    margin-top: 5%;
    width: 50%;
    height: 15%;
    background: rgba(255, 255, 255, 0.1);
    border: 0.3vh solid rgba(255, 255, 255, 0.7);
    border-radius: 2vh;
    font-family: 'Poppins', sans-serif;
    font-size: 0.8vw;
    color: #ffffff;
    transition: 0.5s;
}

.CCD:hover .BT_CCD{
    display:initial;
}

.CCD:hover .BT_CCD:hover{
    width: 55%;
    height: 17%;
    font-size: 0.9vw;
    transition: .5s;
}

#Info_CCD{
    display: hidden;
    margin: auto;
    width: 70%;
    height: 50vh;
    padding: 1%;
    background: rgba(226, 236, 241, 0.8);
    border: none;
    border-radius: 2vh;
    flex-direction: column;
    align-items: center;
    justify-content:end;
    color: rgb(0, 0, 0);
    font-family: 'Nunito', sans-serif;
    font-size: 2vw;
    box-shadow: 0 0 1em rgba(0, 0, 0, 0.3);
}

#Info_CCD::backdrop{
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(2px);
}

#Info_CCD button{
    margin-top: 5%;
    width: 15%;
    height: 10%;
    background: none;
    border: 0.3vh solid rgba(0, 0, 0, 0.2);
    border-radius: 0.3vh;
    font-family: 'Poppins', sans-serif;
    font-size: 1vw;
    color: #000000;
    transition: .5s;
}

#Info_CCD button:hover{
    width: 17%;
    height: 12%;
    font-size: 1vw;
    transition: .5s;
}
